@model IList<ESCS.Domain.PurchaseOrder>

@{
    ViewBag.Title = "进货单管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/layui-v2.5.7/layui/layui.js"></script>
<h4>进货单管理</h4>
<hr />
<div>
    <a href="/PurchaseOrder/Create">
        <button type="button" class="layui-btn">
            <i class="layui-icon">&#xe608;</i> 添加
        </button>
    </a>
</div>


<div class="demoTable">
    @using (Html.BeginForm())
    {
        
        <form class="layui-form" action="">
        <div class="layui-inline">
          <label class="layui-form-label">搜索选择框</label>
          <div class="layui-input-inline">
            <select style="height:35px;" name="modules" lay-verify="required" lay-search="">
              <option value="1">全部</option>
                <option value="待分配">待分配</option>
                <option value="进货中">进货中</option>
                <option value="结束">结束</option>
            </select>
          </div>
        </div>
        <button class="layui-btn" data-type="reload" type="submit">搜索</button>
            </form>
    }
</div>
<div>
    <table lay-filter="demo" id="demo1" lay-data="{initSort:{field:'id', type:'null'}}">
        <thead>
            <tr>
                <th lay-data="{field:'Id', width:100,align:'center'}">
                    序号
                </th>
                <th lay-data="{field:'a', width:150,align:'center'}">
                    预计金额
                </th>
                <th lay-data="{field:'s', width:150,align:'center'}">
                    实际金额
                </th>
                <th lay-data="{field:'d', width:200,align:'center'}">
                    创建时间
                </th>
                <th lay-data="{field:'f', width:100,align:'center'}">
                    品种数
                </th>
                <th lay-data="{field:'g', width:100,align:'center'}">
                    状态
                </th>
                <th lay-data="{field:'h', width:100,align:'center'}">
                    备注
                </th>
                <th lay-data="{field:'c', width:100,align:'center'}">
                    操作员
                </th>
                <th lay-data="{field:'j', width:100,align:'center'}">
                    进货员
                </th>
                <th lay-data="{field:'l',align:'center'}">
                    操作
                </th>

            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Money1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Money2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserIds.UserName)
                        </td>

                        <td>
                            <div class="layui-btn-group">
                                @Html.ActionLink("详情", "Xq", new { id = item.ID }, new { @class = "layui-btn" })
                                @if (item.Status == "待分配")
                                { @Html.ActionLink("删除", "Delete", new { id = item.ID, oneKind = ViewBag.OneKind }, new { onclick = "return confirm('真的打算删除吗?')", @class = "layui-btn" })}
                                else
                                { <button type="button" class="layui-btn layui-btn-xs layui-btn-disabled">删除</button>}
                                
                            </div>
                        </td>
                    </tr>
                }
        </tbody>
    </table>

</div>


